<p id="notice"><%= notice %></p>

<strong>You had mulitple results...</strong>
<ul>
    
    <% @result.each do |restaurant| %>
    <p>
      <br>
      
      <p>
        <strong>Name:</strong>
        <%= restaurant['dba'] %>
      </p>

      <p>
        <strong>Grade:</strong>
        <%= restaurant['grade'] %>
      </p>

      <p>
        <strong>Inspection_date:</strong>
        <%= restaurant['inspection_date'] %>
      </p>

      <p>
        <strong>Cuisine:</strong>
        <%= restaurant['cuisine_description'] %>
      </p>

      <p>
        <strong>Violation(s):</strong>
      
        <% restaurant['violation_description'].each do |violation| %>
        <li>
          <%= violation %>
        </li>
        <% end %>
      </p>
      
      <p>
        <strong>Violation Code(s):</strong>
        <%= restaurant['violation_code'] %>
      </p>

      
      <p>
        <strong>Address:</strong>
        <%= restaurant['building'] %>
        <%= restaurant['street'] %>
        <%= restaurant['boro'] %>
        <%= restaurant['zipcode'] %>
      </p>
      
      <p>
        <strong>Phone:</strong>
        <%= restaurant['phone'] %>
      </p>
    
    </p>
    
    
    <%end%>
  </ul>


   
    