<p id="notice"><%= notice %></p>



<strong>Here's your result...</strong>

    <p>
      <strong>Name:</strong>

      <%= @result.first.restaurant_name %>
    </p>
    
    <p>
      <strong>Cuisine:</strong>
      <%= @result.first.cuisine_description %>
    </p>

    <p>
      <strong>Inspection date:</strong>
      <%= @result.first.inspection_date %>
    </p>


    <p>
      <strong>Grade:</strong>
      <%= @result.first.grade %>
    </p>

    <p>
      <strong>Violation(s):</strong>
      <ul>
        <% @result.first.inspection_results.each do |violation| %>
        <li>
          <%= violation %>
        </li>
        <% end %>
      </ul>
    </p>

    <p>
      <strong>Violation Code(s):</strong>
      <%= @result.first.violation_codes.first %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= @result.first.building %>
      <%= @result.first.street %>
      <%= @result.first.zipcode %>
      <%= @result.first.boro %>
    </p>
     
    <p>
      <strong>Phone:</strong>
      <%= @result.first.phone_num %>
    </p>
