<p id="notice"><%= notice %></p>



<strong>Here's your result...</strong>

    <p>
      <strong>Name:</strong>

      <%= @result[0]['dba'] %>
    </p>
    
    <p>
      <strong>Cuisine:</strong>
      <%= @result[0]['cuisine_description'] %>
    </p>

    <p>
      <strong>Inspection date:</strong>
      <%= @result[0]['inspection_date'].first %>
    </p>


    <p>
      <strong>Grade:</strong>
      <%= @result[0]['grade'] %>
    </p>

    <p>
      <strong>Violation(s):</strong>
      <ul>
        <% @result[0]['violation_description'].each do |violation| %>
        <li>
          <%= violation %>
        </li>
        <% end %>
      </ul>
    </p>

    <p>
      <strong>Violation Code(s):</strong>
      <%= @result[0]['violation_code'].first %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= @result[0]['building'] %>
      <%= @result[0]['street'] %>
      <%= @result[0]['zipcode'] %>
      <%= @result[0]['boro'] %>
    </p>
     
    <p>
      <strong>Phone:</strong>
      <%= @result[0]['phone'] %>
    </p>
