<p id="notice"><%= notice %></p>

<p>
  <strong>Boro:</strong>
  <%= @address.boro %>
</p>

<p>
  <strong>Building:</strong>
  <%= @address.building %>
</p>

<p>
  <strong>Street:</strong>
  <%= @address.street %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @address.zipcode %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @address.phone %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
